.background_img{
    height: 50vh;
}
.profileInfo {
    padding-left: 20px;
    position: relative;
    z-index: 1;
    top: -120px;
}
.avatar {
    border-radius: 250px;
    width: 250px;
    height: 250px;
    border: 10px solid white;
}
.avatarContainer{

}
