.header{
    grid-area: h;
    background: aquamarine;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header img{
    width: 100px;
    height: 80px;
}
/*.dd{*/
/*    border-radius: 50px;*/
/*}*/