.containerPosts{
    margin: 10px;
    font-family: 'Barlow', sans-serif;
    .inputError textarea{
        border: 2px solid red;
    }
    .postInput{

    }
    .errorText{
        font-size: 15px;
        color: #c96a6a;
    }
}

