.message {
  color: black;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  background: #f3c6bd;

  &:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #f3c6bd;
    border-width: 10px;
    margin-left: -10px;
  }
}

