.containerForm {
    margin: 10px;
    font-family: 'Barlow', sans-serif;

    .loginError {
        border: 2px solid red;
    }

    .loginInput {

    }

    .errorText {
        font-size: 15px;
        color: #c96a6a;
    }
    .errorStatus{
        width: 200px;
        height: 50px;
        background-color: #c28a8a;
        text-align: center;
        color: white;
        border: white;
        border-radius: 10px;
    }
}

